/build
/.vs
/Debug
/CMakeSettings.json
/x64/
/cpp-bridge-v5.sln
/cpp-bridge-v5.vcxproj
/cpp-bridge-v5.vcxproj.filters
/cpp-bridge-v5.vcxproj.user
/CoverageReport-*
/LastCoverageResults.log
/Release
/.cproject
/.project
/.settings/language.settings.xml
/CMakeCache.txt
/CMakeFiles
/cmake-build
/recordings
/nbproject
CTestTestfile.cmake
Makefile
cmake_install.cmake
cpp_bridge_v5_app_executable
libcpp_bridge_v5_app_library.a
